version: '3'
services:
  svm_service:
    build:
      context: ./svm_service
      dockerfile: ./Dockerfile
    ports:
      - "56739:80"
    volumes:
      - ./svm_service:/app
    # command: pytest 
    # # command: tail -f /dev/null

  vgg19_service:
    build:
      context: ./vgg19_service
      dockerfile: ./Dockerfile
    ports:
      - "56740:80"
    volumes:
      - ./vgg19_service:/app

  front_service:
    build:
      context: ./front_service
      dockerfile: ./Dockerfile
    ports:
      - "56741:80"
    volumes:
      - ./front_service:/app

  test_service:
    build: 
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "56742:80"     
    volumes:
      - .:/app  
    command: pytest svm_service/tests/ vgg19_service/tests/ front_service/tests/ 
   
   



      

      
  
  # unit_tests:
  #   build:
  #     context: ./unit_tests
  #     dockerfile: ./Dockerfile
  #   volumes:
  #     - ./unit_tests:/app
  #   depends_on:
  #     - svm_service
  #     - vgg19_service
  #     - front_service
  #   command: sh -c "pytest svm_service/tests/ vgg19_service/tests/ front_service/tests/"


  # nginx:
  #   image: nginx:latest
  #   ports:
  #     - "81:81"
  #   volumes:
  #     - /var/www/FlaskApplication/nginx/nginx.conf:/etc/nginx/nginx.conf
  #   depends_on:
  #     - svm_service
  #     - vgg19_service    

